.album-page
    margin-top: 20px
    &__box
        display: flex
    &__cover
        border-radius: 10px
        box-shadow: 0 0 3px 0 #000
        width: 250px
        height: 250px
        &--smaller
            width: 50px
            height: 50px
            border-radius: 5px
            box-shadow: none
            margin-right: 10px
    &__box-info
        margin: 0 100px 0 50px
    &__type-album
        color: #0062af
        text-transform: uppercase
        font-weight: 600
        font-size: 1.5rem
    &__title
        font-size: 3rem
        text-transform: uppercase
        font-weight: 700
        margin: 10px 0
    &__release-date
        font-size: 1.3rem
        color: #5e5d5d
    &__artist
        margin-top: 10px
        &-item
            font-size: 1.8rem
            color: #000
            &:hover
                color: #0062af
    &__box-details
        width: 300px
        border-radius: 10px
        box-shadow: 0 0 2px 0 #000
        margin-right: 50px
        &-item
            padding: 10px
            border-bottom: 1px solid #afafaf
            font-size: 1.5rem
            &:last-of-type
                border-bottom: none
            &-text
                font-weight: 700
                margin-bottom: 4px
    &__line
        margin: 30px 0

.ocenianko
    border-radius: 5px
    padding: 50px
    box-shadow: 0 0 2px 0 #000
.pioseneczki
    border-radius: 5px
    padding: 50px
    box-shadow: 0 0 2px 0 #000