.section-artist-choose
    display: flex
    justify-content: space-evenly
    font-size: 2rem
    &__item
        width: 50%
        cursor: pointer
        margin-right: 20px
        padding: 10px 0 10px 10px
        &:hover
            color: #636363
        &-active
            border: 3px solid #1c2e53
            border-bottom: none
            border-top-left-radius: 20px

.icon-artists
    padding-left: 10px

.search-artist
    margin-top: 40px
    &__box
        position: relative
        &>.icon-artists
            position: absolute
            font-size: 1.4rem
            top: 13px
            left: 5px
    &__input
        padding: 10px 10px 10px 40px
        width: 50%
        border: 2px solid #000
        border-radius: 25px

.info-add-artist
    width: 500px
    text-align: center
    margin-top: 40px
    font-size: 1.8rem

.searched-artist
    margin-top: 20px
    &__box
        display: flex
        font-size: 1.8rem
        padding: 10px
        border: 2px solid #555
        border-radius: 10px
        width: 50%
        margin: 5px 0
    &__name
        color: #000
        &:hover
            color: #444
    &__edit
        display: flex
        margin-left: 15px
        font-style: italic
        cursor: pointer
        transition: .2s
        &--top
            margin-top: 15px
        &:hover
            color: #444
        &-text
            margin-right: 5px

.link-to-artist
    text-decoration: none

.edit-artist-info
    font-size: 1.6rem
    font-weight: 600
    width: 100%
    text-align: center
    padding: 2px 0
    &--success
        color: #128018
    &--error
        color: #b22e2e

.artist-page
    &__box
        margin-top: 25px
    &__container
        display: flex
        margin-top: 20px
        &-info
            margin: 0 20px
            &--width
                max-width: 50%
    &__item-name
        text-align: center
        font-size: 4rem
        font-weight: 600
        text-transform: uppercase
        color: #1c2e53
    &__item-title
        font-size: 1.9rem
        margin: 10px 0
        color: #0062af
        font-weight: 600
        text-transform: uppercase
    &__item-text
        font-size: 1.8rem
        padding: 20px
        border: 4px solid #000
        box-shadow: 8px 8px 0 #1c2e53
        white-space: pre-wrap

.discography
    &__title
        font-size: 2.4rem
        font-weight: 400