.header
    position: sticky
    height: 100px
    width: 100%
    background-color: #000
    margin-bottom: 40px
    color: #fff
    &__container
        max-width: 1024px
        margin: 0 auto
        padding: 20px
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__search-input
        width: 400px
        height: 40px
    &__logged
        display: flex
        align-items: center
        font-size: 1.6rem
    &__logged:hover
        color: #ccc
        cursor: pointer

.faRightToBracket
    color: #fff
    margin-right: 10px
    font-size: 2.4rem