.heroUser
    display: flex
    flex-direction: column
    border-bottom: 2px solid #444
    &__settings
        display: flex
        justify-content: flex-end
        align-content: flex-end
        align-items: center
        margin-left: auto
        text-decoration: none
        padding: 10px
        color: #000
        font-size: 2rem
        &-link
            margin-left: 10px
    &__settings:hover
        background-color: #242527
        color: #fff
        border-radius: 20px
    &__username
        display: flex
        justify-content: center
        margin: 0 auto
        font-size: 3rem
        font-weight: 800
        padding: 50px 0 20px
        text-decoration: none
        color: #000